:root {
  --accent-color: #ff3839;
  --white-color: #ffffff;
  --title-color: #000000;
  --text-color: #696969;
  --subtitle-color: #f6f6f6;
  --qa-dark-color: #202020;
  --qa-light-color: #dfdfdf;
  --bg-color: #f8f8f8;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: var(--bg-color);
  color: var(--text-color);
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  display: block;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 110px;
  padding-bottom: 110px;
}
.btn {
  width: 181px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 400;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  border: none;
  background-color: var(--accent-color);
}
.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.subtitle::before {
  content: "";
  display: block;
  width: 143px;
  height: 1px;
  margin-right: 12px;
  background-color: var(--text-color);
}
.accent-sub {
  margin-right: 6px;
  font-weight: 700;
  color: var(--accent-color);
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 125.5%;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.accent-title {
  color: var(--accent-color);
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* =============== header ====================== */
.header {
  position: absolute;
  width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 21px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-icon {
  margin-right: 6px;
}
.logo-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--white-color);
}
.site-nav-list {
  display: flex;
  align-items: center;
}
.site-nav-list .link {
  display: block;
  padding: 10px 20px;

  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.header-container .btn {
  width: fit-content;
  padding-left: 18px;
  padding-right: 18px;
}

/* ======================= hero ================== */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--qa-dark-color);
  background-image: linear-gradient(
      90deg,
      #202020 -2.99%,
      rgba(32, 32, 32, 0) 105.45%
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  padding-top: 272px;
  padding-bottom: 198px;
}
.hero-subtitle {
  margin-bottom: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.hero-title {
  width: 795px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 70px;
  line-height: 128.5%;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.hero-title::after {
  content: "";
  display: block;
  width: 555px;
  height: 2px;
  margin-left: 190px;
  margin-bottom: 23px;
  background-color: var(--accent-color);
}
.hero-text {
  width: 792px;
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.buttons-wrap {
  display: flex;
  align-items: center;
}
.buttons-wrap .btn:last-child {
  margin-left: 20px;
  color: var(--qa-dark-color);
  background-color: var(--white-color);
}

/* ==================== about ====================== */
.about .container {
  display: flex;
}
.about-img {
  position: relative;
  margin-right: 219px;
}
.about-img .img:last-child {
  position: absolute;
  top: 186px;
  left: 234px;
}
.about-content {
  width: 534px;
}
.about-content .title {
  margin-bottom: 31px;
}
.about-content .first {
  margin-bottom: 26px;
}
.about-content .second {
  margin-bottom: 36px;
}

/* ==================== offers ====================== */
.offers {
  background-color: var(--qa-dark-color);
}
.offers .container {
  display: flex;
}
.offers-content {
  margin-right: 89px;
}
.offers-content .subtitle {
  color: var(--white-color);
  margin-bottom: 19px;
}
.offers-content .title {
  width: 443px;
  margin-bottom: 23px;
  color: var(--white-color);
}
.offers-content .text {
  width: 534px;
  margin-bottom: 40px;
  color: var(--white-color);
}
.offers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 61px;
}

.offers-list > .item,
.feedback-list > .item {
  position: relative;
  width: 262px;
  padding: 54px 15px 22px;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 5px;
}
.card-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 82px;
  background-color: var(--accent-color);
  border: 3px solid var(--white-color);
  border-radius: 50%;
}
.card-title {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.card-text {
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ================== portfolio ======================== */
.portfolio .subtitle::before,
.faq .subtitle::before {
  width: 163px;
  margin-left: auto;
}
.portfolio .subtitle::after,
.faq .subtitle::after {
  content: "";
  display: block;
  width: 163px;
  height: 1px;
  margin-left: 12px;
  margin-right: auto;
  background-color: var(--text-color);
}
.portfolio .title,
.faq .title {
  width: 457px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
}
.filter-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-btn-list .item:not(:last-child) {
  margin-right: 8px;
}
.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.filter-btn {
  display: block;
  padding: 10px 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--qa-light-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;
}
.radio:hover + .filter-btn,
.radio:focus + .filter-btn,
.radio:checked + .filter-btn {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.portfolio-list {
  display: flex;
  align-items: flex-start;
}
.portfolio-list .item:not(:last-child) {
  margin-right: 24px;
}

/* ================== feedback ========================= */
.feedback {
  background-color: var(--qa-dark-color);
}
.feedback .subtitle {
  color: var(--white-color);
}
.feedback .subtitle::before {
  background-color: var(--white-color);
}
.feedback .accent-sub {
  margin-left: 6px;
}
.feedback .title {
  width: 528px;
  margin-bottom: 113px;
  color: var(--white-color);
}
.feedback-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedback-list > .item {
  width: 370px;
}
.star-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}
.star-list > .item:not(:last-child) {
  margin-right: 10px;
}

/* ====================== FAQ ==================== */

.faq .title {
  margin-bottom: 72px;
}
.check {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.question-list > .item {
  margin-bottom: 23px;
}
.question-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 972px;
  padding: 30px 36px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  color: var(--qa-dark-color);
  border-radius: 5px;
  background-color: var(--qa-light-color);
}
.question-title > .icon {
  fill: var(--qa-dark-color);
  transform: rotate(180deg);
  transition: transform 250ms linear;
}
.text-wrap {
  display: none;
  width: 972px;
  padding: 30px 36px 12px;
  margin-left: auto;
  margin-right: auto;
}
.question-text {
  width: 887px;
}
.check:hover + .question-title,
.check:focus + .question-title,
.check:checked + .question-title {
  color: var(--white-color);
  background-color: var(--qa-dark-color);
}
.check:hover + .question-title > .icon,
.check:focus + .question-title > .icon {
  fill: var(--white-color);
}
.check:checked + .question-title > .icon {
  fill: var(--white-color);
  transform: rotate(360deg);
}
.check:checked ~ .text-wrap {
  display: block;
}

/* =================== contacts ======================= */
.contact.section {
  padding-bottom: 63px;
}
.contact {
  position: relative;
  background-color: var(--qa-light-color);
}
.contact-container > .title {
  width: 550px;
  margin-bottom: 31px;
}
.contact .text {
  width: 533px;
  margin-bottom: 23px;
}

.input-name,
.input-mail,
.input-message {
  display: block;
  width: 533px;
  padding: 18px 21px;
  margin-bottom: 23px;

  background-color: var(--white-color);
  border: 1px solid #cacaca;
  border-radius: 5px;
}
.input-name::placeholder,
.input-mail::placeholder,
.input-message::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.input-message {
  height: 150px;
  resize: none;
  margin-bottom: 33px;
}
.bg-img {
  position: absolute;
  left: 637px;
  top: 25px;
  transform: translateX(50%);
}
/* ===================== info ======================= */
.info {
  background-color: var(--qa-dark-color);
  border-bottom: 1px solid var(--text-color);
}
.info-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.block-sm {
  width: 345px;
}
.block-sm .logo {
  margin-bottom: 40px;
}
.block-sm .text {
  margin-bottom: 24px;
  font-size: 13px;
  color: var(--white-color);
}
.sm-list {
  display: flex;
  align-items: center;
}
.sm-list .item:not(:last-child) {
  margin-right: 19px;
}
.sm-list .sm-icon-link,
.sm-list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
/* .sm-icon-link {
  display: inline-block;
} */
.block-services {
  width: 122px;
}
.block-title {
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.block-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 41px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.block-item {
  display: flex;
  align-items: center;
}
.block-item > .icon {
  margin-right: 16px;
  fill: var(--accent-color);
}

/* ====================== footer ===================== */
.footer {
  background-color: var(--qa-dark-color);
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 42px;
}
.copy-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--qa-light-color);
}
.policy-list {
  display: flex;
  align-items: center;
}
.policy-list .item:not(:last-child) {
  margin-right: 20px;
}
.policy-list .link {
  font-weight: 300;
  font-size: 16px;
  line-height: 2.25%;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--qa-light-color);
}
